<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cxwl.shawn.guangxi.ganzhe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--//添加允许安装未知应用市场权限，这个权限不是动态权限，所以不用进行动态申请，否则自动更新功能失效-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 自动更新下载完成广播 -->
        <receiver android:name="com.cxwl.shawn.guangxi.ganzhe.util.AutoUpdateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
        </receiver>

        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d4dfcbd2e3b60ea7aa847921f75a3fe6"/>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".ShawnWelcomeActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ShawnLoginActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnMainActivity"
                  android:screenOrientation="portrait" />

        <activity android:name=".ShawnFeedbackActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnColumnsActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnProductActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnCityActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnLandActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnPDFActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnPdfTitleActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnFactClimateDetailActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".ShawnFactDataDetailActivity"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>